*{
    margin: 0;
    padding: 0;
    color: #333333;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none; 
    display: block;
}
img{
    display: block;
}

.rel{
    position: relative;
}
.abs{
    position: absolute;
}
.h400{
    height: 400px;
}
.h200{
    height: 200px;
}
.h250{
    height: 250px;
}
.h120{
    height: 120px;
}
.w200{
    width: 200px;
}
.h850{
    height: 850px;
}
.w-remain{
    width: calc(100vw - 200px); 
}
.text-center{
    text-align: center;
}
.flex-column{
    flex-direction: column;
}
.flex-grow{
    flex-grow: 1;
}

.d-flex{
    display: flex;
}
.jcc{
    justify-content: center;
}
.jcb{
    justify-content: space-between;
}
.jce{
    justify-content: space-evenly;
}
.jcev{
    justify-content: space-evenly;
}
.aic{
    align-items: center;
}
.d-block{
    display: block;
}
.d-none{
    display: none;
}
.d-iblock{
    display: inline-block;
}
.ofh{
    overflow: hidden;
}


/* layout */

#hd h1{
    padding: 30px 0;
}

.gnb>li>a{
    font-size: 22px;
    font-weight: 600;
    background-color: #0ead16;
    color: white;
    padding: 8px 0;
}
.gnb ul{
    left: 100%;
    top: 0;
    overflow: hidden;
    transition: 0.6s;
    width: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
}
.gnb:hover ul{
    width: 100vw;
    
}
.gnb>li:hover>a{
    background-color: rgb(0, 96, 13);
}
.gnb ul a{
    font-weight: 600;
}
.gnb ul a:hover{
    background-color: rgb(8, 139, 17);
    color: white;
}
.gnb ul li{
    width: 130px;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
}

.signin{
    margin-top: 20px;
}


/* banner */

.slide .abs{
    opacity: 0;
    transition: 1s;
}
.slide div.on{
    opacity: 1;
}

.small-banner h3{
    font-size: 2rem;
}
.small-banner p{
    font-size: 1.5rem;
}
.small-banner>div>img{
    border-radius: 20px;
}
.banner-text{
    padding-left: 40px;
}
.banner-link{
    margin-right: 100px;
}